 #outercontainer{
 	margin-left: auto;
	margin-right: auto;
	background-color:  #4db8ff;
	top: 0px;
	left: 0px;
 }
 
 #top{
 	background-color: #39ac73;
	padding-top: 80px;
 }
 
 #bottom{
 	background-color: #39ac73;
	padding-top: 80px;
 }
 
 #middle{
 	text-align: center;
 	padding-top:20px;
	padding-bottom:100px;
	font-family: Arial;
	font-size: 20px;
 }
 
 .whiteText{
	font-family: Arial;
	color:  #f2f2f2;
    text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;  
 }